# Keep this gateway awake: USB suspend otherwise interrupts radio transactions.
ACTION=="add|change", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="2e8a", ATTR{idProduct}=="800a", ATTR{manufacturer}=="ha-x2d", ATTR{product}=="HA-X2D *", TEST=="power/control", ATTR{power/control}="on"
